/*选择职位 行业*/
.big-window
{
    width: 980px;
    height: 560px;
    position: absolute;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 50%;
    display: none;
    z-index: 10000;
    margin: -280px 0 0 -490px;
    background: #fff;
}
.bg-f0
{
    background: #f0f0f0;
}
.big-window .title
{
    width: 100%;
    height: 48px;
    color: #333;
    line-height: 48px;
    text-indent: 15px;
    background: #fff;
    border-bottom: #ccc 1px dotted;
}
.big-window .title a
{
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    background: url(../images/login/close.png) no-repeat center top;
}
.big-window .title .tip
{
    font-size: 12px;
    color: #1f5aab;
    margin-left: 5px;
}
.big-window .title a:hover
{
    background: url(../images/login/close.png) no-repeat center bottom;
}
.sele-tag
{
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    background: #fff;
}
.sele-tag dl
{
    width: 100%;
    line-height: 30px;
    display: table;
    font-size: 12px;
}
.sele-tag dt
{
    width: 50px;
    display: table-cell;
    color: #3271c8;
    vertical-align: middle;
}
.sele-tag dd
{
    display: table-cell;
}
.sele-tag dd a
{
    background: url(../images/login/select111.png) no-repeat left center;
    padding: 0 0 0 22px;
    margin: 0 10px 0 0;
    color: #333;
    display: block;
    float: left;
    max-width: 158px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sele-tag a.btn
{
    background: #3271c8;
    padding: 0 15px;
    color: #fff;
    width: auto;
    border-radius: 4px;
    margin: 3px 0 0 0;
    line-height: 24px;
    float: right;
}
.sele-tag dd a.btn:hover
{
    background: #133f7d;
}
.position-menu
{
    width: 100%;
    height: 480px;
    position: relative;
    padding: 5px 0;
    background: #f6f6f8;
}
.position-menu .menu
{
    width: 160px;
    position: absolute;
    z-index: 2;
    float: left;
    background: #000;
}
.position-menu .sub-menu
{
    width: 815px;
    padding: 10px;
    margin-left: 159px;
    height: 469px;
    overflow: auto;
    border: #eee 1px solid;
    float: left;
    background: #fff;
}
.position-menu .menu li
{
    width: 100%;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    color: #666;
    text-indent: 15px;
    border-bottom: #eee 1px solid;
    background: #f6f6f8;
}
.position-menu .menu li.sele
{
    color: #3271c8;
    background: #fff;
    color: #0C0C0C;
    font-weight: bold;
}
.position-menu .sub-menu dl, .industry-list dl
{
    width: 100%;
    display: table;
    font-size: 12px;
    padding: 4px 0 2px 0;
    border-bottom: #eee 1px dotted;
}
.position-menu .sub-menu dt, .industry-list dt
{
    display: table-cell;
    width: 80px;
    color: #333;
    padding: 2px 10px 0 10px;
    vertical-align: top;
}
.position-menu .sub-menu dd, .industry-list dd
{
    display: table-cell;
}
.position-menu .sub-menu dd a, .industry-list dd a
{
    background: url(../images/login/select000.png) no-repeat left center;
    padding: 0 0 0 20px;
    margin: 5px 3px;
    color: #666;
    display: block;
    float: left;
    width: 166px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.position-menu .sub-menu dd a.sele, .industry-list dd a.sele
{
    background: url(../images/login/select111.png) no-repeat left center;
    color: #3271c8;
}

.industry-list
{
    width: 100%;
    padding: 5px 15px;
    background: #fff;
}
.industry-list dl
{
    padding: 4px 0 2px 0;
}
.industry-list dt
{
    width: 160px;
    padding: 1px 0 0 0;
    font-size: 14px;
}
.industry-list dd a
{
    width: 190px;
}
.industry-btn
{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.industry-btn a.btn
{
    background: #3271c8;
    padding: 5px 15px;
    color: #fff;
    width: auto;
    border-radius: 4px;
}
.industry-btn a.btn:hover
{
    background: #3271c8;
}
.position-menu .sub-menu dt{
    font-weight: bold;
    color: #0C0C0C;
}