body {
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: PingFang SC,Microsoft YaHei,Lantinghei SC,Helvetica Neue,Helvetica,Arial,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
}
p{margin: 0;}

.bj{
    background: #f6f6f8;
}
ol,
ul {
  padding-left: 0rem;
}
p{margin-bottom: 0px;}
.p24{padding: 24px;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.bj_white{background: #ffffff;overflow: auto;}
a{color: #141933;text-decoration: none;}
ul li{list-style: none;}
.candidates{
    background: #022041;
}
.candidates{
    height: 40px;
    padding: 8px 16px;
    box-sizing: content-box;
}
.c_nav ul li{
    float: left;
    font-size: 15px;
}
.c_nav ul li a{
    color: #FFFFFF;
    line-height: 40px;
    padding-right: 16px;
    padding-left: 16px;
}
.c_head_portrait a{
    color: #FFFFFF;
    padding-right: 16px;line-height: 40px;
}
.c_logo{
    height: 36px;
    padding-right: 24px;
}
.c_head_portrait_size img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}
.c_write_fot{
    width: 959px;
    text-align: center;
    color: #898C90;
    font-size: 14px;
    margin: 0 auto;
    line-height: 40px;
    padding-top: 40px;

}
.footer{
    margin-top: 40px;
    overflow: auto;
    padding: 32px 0;
}
.footer_box{
    width: 1260px;
    margin: 0 auto;
}
.footer_box ul{
    float: left;
    width: 173px;
    line-height: 28px;
    font-size: 12px;
    padding-left: 10px;
}
.footer_box ul li a{
    color: #8f8e8e;
}
.footer_box ul li span{
    font-size: 14px;
}
.footer_em{
    width: 85px;
    padding-right:72px;
    box-sizing: content-box;
    font-size: 14px;
}
.footer_em img{
    padding-top: 14px;
    width: 85px;
    height: 85px;
}
.footer_contact_t{
    font-size: 14px;
}
.footer_contact_phone{
    background: url("../images/login/dh.png") no-repeat left center;
    padding-left: 28px;
    font-size: 20px;
    color: #2b66b8;
    line-height: 32px;
    margin: 8px 0 4px 0;
}
.footer_contact_time{
    color: #8f8f8f;
    font-size: 12px;
}
.footer_contact{
    padding-right: 10px;
}
.copyright{
    background: #2b66b8;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
.n_fy{
    float: right;
}
.w_40{width:380px;}
.p_r{position: relative;}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.at{overflow: auto;}
.orange{color: #ff6339;}
.blue{color: #157AEA;}
.c3{color: #7A7F99;}
.c2{color: #40415A;}
.c1{color: #141933;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.btn_blue{
    color: #0667D3;
    background: #dbecff;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    width: 116px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.btn_gray{
    color: #7A7F99;
    background: #ffffff;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    width: 116px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    border:1px solid #dedede;
}
.btn_blue:hover{
    background: #0667D3;
    color: #ffffff;
}
.m1{margin-top: 18px;}
.lg_tbar{
    background: #F0F2F6;
    height: 40px;
    line-height: 40px;
}
.lg_tbar_box{
    width: 1260px;
    margin: 0 auto;
    font-size: 13px;
}
.lg_tbar_phone{
    background: url("../images/login/s2.png") no-repeat left center;
    padding-left: 25px;
    color: #40415A;
    margin-left: 32px;
}
.lg_tbar_login{

}
.lg_tbar_login a{
    color: #40415A;
}
.header_top_search input{
    width: 230px;
    height: 38px;
    border: 1px solid #2b66b8;
    float: left;
    padding: 0 12px;
    box-sizing: content-box;
}
.header_top_search button{
    width: 77px;
    height: 40px;
    background: #0a53be;
    color: #FFFFFF;
    border: none;
    float: left;
}
.header_top_search{
    width: 380px;
    float: right;
}
.header_top{
    width: 1260px;
    margin: 0 auto;
    overflow: hidden;
    padding: 16px 0;
    height: 43px;
    box-sizing: content-box;

}
.nav{
    height: 50px;
    line-height: 50px;
    background: #0a53be;
}
.nav ul{
    width: 1260px;
    margin:0 auto;
}
.nav ul li a{
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    padding: 0 32px;
}
.nav ul li a:hover{
    background: #0b469e;
}
.p_t16{
    padding-top: 16px;
}
.f18{
    font-size: 18px;
}
.p_r10{padding-right: 10px;}
.c4{
    color:#999ba6;
}
.p_b8{padding-bottom: 8px;}
.f24{
    font-size: 24px;
}
.l_w2{width: 200px;}
.t_right{text-align: right}
.f_w{font-weight: 700;}
.main_box{
    width: 1260px;
    margin: 16px auto;padding: 24px;
    box-sizing: border-box;
}
.lg_tbar_login_seekers img{
    padding-right: 5px;
    float: left;
    padding-top: 11px;
}
.lg_tbar_login_seekers{
    float: left;
}

