.layui-colla-icon{
    left: 36px;
}
.layui-collapse{
    border: none;
}
.layui-colla-title{
    border: none;
    width: 56px;
    padding: 0;
    position: absolute;
    background: none;
    right: 0;
    top: 0;
}
.nav_relative{
    position: relative;
}
.nav_addres a{
    color: #0C0C0C;
    padding: 0 10px;
}
.layui-colla-content{
    border: none;
}
.nav_addres{line-height: 40px;}
.nav_addres_show{
    padding: 5px 10px 5px 57px;
    background: #fafafa;
}
.layui-form-select dl dd.layui-this {
    background-color: #0a53be;
    color: #fff;
}
.list_sub_nav_list ul li a{
    float: left;
    padding-right: 24px;
}
.list_sub_nav_list{
    overflow: auto;
    padding: 8px 0;
}
.layui-tab-title .layui-this{
    color: #FFFFFF;
    background: #157AEA;
}
.layui-tab-title .layui-this:after{
    border-bottom: 1px solid #157AEA;
}
.layui-nav .layui-nav-item{
    line-height: 40px;
}