* {
    margin: 0;
    padding: 0
}

body {
    font-family: "microsoft yahei";
    font-size: 14px
}

li {
    list-style: none
}

/*滚动条*/
::-webkit-scrollbar {
    width: 5px;
    /*滚动条宽度*/
    height: 8px;
    /*滚动条高度*/
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 3px;
    /*滚动条的背景区域的圆角*/
    background-color: #fbfbfb;
    /*滚动条的背景颜色*/
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*滚动条的圆角*/
    /*   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  */
    background-color: #D8D8D8;
    /*滚动条的背景颜色*/
}

body,
html {
    width: 100%;
    height: 100%;
}

.panel_box {
    width: 200px;
    box-sizing: border-box;
    background: #155FAD;
    color: #DFDFDF;
    box-sizing: border-box;
    overflow-y: auto;
    padding-top: 20px;
}

.panel_title {
    padding-right: 36px;
}

li {
    cursor: pointer;
}

li>div {
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
}

li>ul {
    padding-left: 10px;
}

.icon_img {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.panel_this {
    color: #fff;
}