body {
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
}

.n_banner{
    height: 238px;
    background: url("../images/login/banner_news.jpg") no-repeat top center #223043;
}
.n_box{
    width: 1260px;
    margin: -24px auto 0 auto;
    background: #ffffff;
    box-sizing: border-box;
    overflow: auto;
}
.n_box_list ul li{
    border-bottom: 1px solid #ECEEF2;
    padding-bottom: 32px;
    margin-bottom: 32px;
    overflow:auto
}
.news-cardlist-date-day{font-size: 40px;line-height: 38px;}
.news-cardlist-date{
    width: 126px;
    border-right: 1px solid #dedede;
    height: 44px;
    margin-top: 16px;
    padding-top: 4px;
    padding-left: 8px;
    box-sizing: content-box;
}
.news-cardlist-date-fg{
    line-height: 40px;
    font-size: 24px;
    padding: 0 4px;
    color: #999;
}
.news-cardlist-content{
    width: 1030px;
    padding-left: 32px;
    font-size: 14px;
    color: #666666;
}
.news-cardlist-date-year{
    font-size: 14px;
    color: #252b3a;
}
.news-cardlist-content strong{
    font-size: 18px;
    color: #333;
    line-height: 40px;

}
.n_box_x{
    width: 1260px;
    margin: 24px auto;
    overflow: auto;
}
.n_box_x_right{
    width: 360px;
}
.n_box_x_left{
    width: 876px;
    box-sizing: border-box;
}
.n_box_x_left_title{
    font-size: 28px;
    padding: 8px;
}
.n_box_x_left_time{
    font-size: 14px;
    color: #999;
    padding: 16px 8px;
}
.n_box_x_left_xq{
    font-size: 16px;
    line-height: 40px;
    padding: 8px;
}
.n_box_x_right{
    padding: 24px;
    box-sizing: border-box;
}
.n_box_x_bt{
    border-left: 4px solid #0667D3;
    padding-left: 8px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 8px;
}
.n_box_x_list ul li{
    font-size: 15px;
    line-height: 24px;
    border-bottom: 1px solid #F0F2F6;
    padding: 16px 0;
    list-style: none;
}
.n_box_x_list ul{
   padding-left: 0px;
}
.n_box_x_list ul li p span{
    font-size: 12px;
    color: #999999;line-height: 24px;
}
.n_box_x_left_box{
    padding: 24px;
}
.n_box_x_list ul li p{
    margin-bottom: 0px;
}
.n_box_news{
    padding: 32px;
    margin-top: 16px;
}
.n_box_news_t{
    border-left: 3px solid #0667D3;
    margin-bottom: 8px;
    padding-left: 4px;
}
.n_box_news_da{
    font-size: 18px;
    line-height: 26px;
    padding: 24px 0 8px 0;
}
.n_box_news_time{
    color: #999;
}