
.job_details{
    width: 1260px;
    margin: 16px auto;
    padding: 32px 40px;
    box-sizing: border-box;
}
.job_details_post{
    font-size: 26px;
    color: #141933;
    margin-top: 0px;
    font-weight: 700;
}
.job_details_mony{
    color: #ff6000;
    font-size: 26px;
    font-weight: bold;
    margin: 12px 0px;
}
.job_details_time{
    margin: 0;
}
.job_details_time span{
    color: #7A7F99;
    font-size: 13px;
    padding-right: 16px;
    margin: 0px;
}
.job_details_btn{
    background: #0a53be;
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    margin-top: 24px;
    font-size: 14px;
    margin-bottom: 20px;
}
.job_details_a a{
    font-size: 13px;
    color: #7A7F99;
    float: left;
    padding-left: 25px;
}
.job_details_a a img{
    float: left;
    padding-top: 2px;
}
.job_describe{
    width: 1260px;
    margin: 0 auto;
    overflow: auto;
}
.job_describe_r{
    width: 280px;
}
.job_describe_l{
    width: 964px;
    padding: 0px 30px 30px 30px;
    box-sizing: border-box;
}
.job_describe_title{
    font-weight: 700;
    font-size: 20px;
    color: #525260;
    margin-top: 48px;
    padding-bottom: 20px;
}
.job_describe_list ul{
    margin: 0;
}
.job_describe_list ul li{
    float: left;
    width: 295px;
    line-height: 34px;
    font-size: 14px;
}
.job_describe_list ul li span{
    color: #7A7F99;
    padding-right: 10px;
}
.job_describe_list{
    overflow: auto;
}
.job_describe_ms{
    font-size: 15px;
    line-height: 32px;
}
.job_welfare_list{
    background: #e9f4ff;
    color: #2e8ef3;
    border-radius: 4px;
    padding: 6px 14px;
    line-height: 24px;
    margin-right: 5px;

}
.job_describe_dd{
    background: url("../images/login/dzz.png") no-repeat left center;
    padding-left: 24px;
}
.job_describe_map{
    padding-top: 16px;
}
.job_describe_gg img{
    width: 280px;
}
.job_describe_company{
    padding: 28px 20px;
    margin-top: 8px;
}
.job_describe_company_tx{
    font-size: 17px;
    line-height: 24px;
}
.job_describe_company_tx img{
    float: left;
    border-radius: 4px;
    padding-right: 12px;
}
.job_d_c_list p img{
    float: left;
    padding-right: 10px;
    padding-top: 7px;
}
.job_d_c_list p{
    line-height: 24px;
    color: #40415A;
    font-size: 14px;
    padding-top: 8px;
}
.job_d_c_list{
    padding: 16px 0 8px 0;
}
.job_d_c_box{
    font-size: 14px;
    color: #40415A;
    line-height: 24px;
    padding-top: 12px;
}
.job_d_c_btn button{
    border: 1px solid #0a53be;
    color: #0a53be;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-top: 24px;
}
.job_d_c_interest{
    margin-top: 10px;
}
.job_d_c_interest{
    padding: 20px 20px 0px 20px;
}
.job_d_c_interest_zw a{
    font-weight: 700;
    font-size: 16px;
}
.job_d_c_interest_zw span{
    color: #ff6000;
    float: right;
}
.job_d_c_interest_gs a{
    font-size: 14px;
    color: #7A7F99;
    line-height: 34px;
}
.job_d_c_interest_ul li{
    padding: 8px 0;
}
.enterprise{
    width: 1260px;
    margin: 0 auto
}
.enterprise_banner_box{
    width: 1260px;
    margin: 0 auto
}
.enterprise_banner{
    background: url("../images/login/banner_top.png") no-repeat top center #394559;
    height: 185px;
    overflow: hidden;
}
.e_b_b_title dl dt img{
    width: 76px;
    height: 76px;
    border-radius:16px;
    margin-right: 16px;
}
.e_b_b_title dl dd{
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 7px;
}
.e_b_b_title dl dd p span{
    font-size: 16px;
    color: #8e939c;
}
.e_b_b_tab ul li a{
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    width: 140px;
    text-align: center;
}
.e_b_b_tab ul li a:hover{
    background: url("../images/login/under.png") no-repeat bottom center;
}
.e_b_b_tab_on{
    background: url("../images/login/under.png") no-repeat bottom center;
}
.e_b_b_title{
    display: inline-block;
    height: 76px;
    padding-top: 37px;
    overflow: hidden;
    box-sizing: content-box;
}
.e_b_b_tab{
    height: 50px;
}
.m_box{
    width: 1260px;
    margin: 0 auto;
    overflow:auto;
    position: relative;
}
.m_box_1{
    width: 1300px;
    margin: 0 auto;
    overflow:auto;
}
.e_b_right{
    width: 300px;
    padding-left: 40px;
    border-left: 1px solid #eef1f6;
    box-sizing: content-box;
}
.e_b_title{
    line-height: 50px;
    font-weight: 700;
    background: url("../images/login/hj.jpg") no-repeat left bottom;
    font-size: 18px;
    padding-top: 24px;
    margin-bottom: 24px;
}
.e_b_left{
    width: 840px;
    line-height: 36px;
    margin-top: 8px;
}
.e_b_commerce_ul li{
    width: 48%;
    float: left;
    color: #666;
}
.e_b_commerce_ul li span{
    color: #000;
}
.e_b_commerce_a{
    height: 32px;
    line-height: 32px;
    background: #f4f7fc;
    text-align: center;
    margin-top: 24px;
}
.e_b_commerce_a a
{
    color: #9497a1;
    font-size: 13px;
}
.e_b_recommend_1{
    font-size: 16px;
}
.e_b_recommend_2{
    color: #fd5f39;
    font-size: 16px;
}
.e_b_recommend_3{
    color: #999;
    font-size: 14px;
}
.e_b_recommend ul li{
    padding-bottom: 28px;
}
.e_b_environment{
    color: #64646b;
    line-height: 26px;
    padding: 0px 0 16px 0;
}
.e_b_job_l_bt{
    color: #157AEA;
    font-size: 16px;
}
.e_b_job_l_mony{
    padding-right: 16px;
}
.e_b_job ul li{
    overflow: auto;
    padding: 24px 0 0 0;
}
.line_none{
    border-left: none;
}
.e_b_right_gg{
    margin-top: 32px;
}
.e_b_right_gg img{
    width: 100%;
    height: auto;
}
.e_sifting{
    line-height: 32px;
    border:1px solid #F0F2F6;
    overflow: auto;
    padding: 16px 24px 8px 24px;
    margin-top: 24px;
    font-size: 14px;
}
.e_sifting_box_box a{
    padding-left: 12px;
    padding-right: 8px;
}
.e_sifting_box_bt{
    width: 90px;
}
.e_sifting_box_box{
    width: 1100px;
}
.e_sifting_select{
    height: 36px;
    line-height: 36px;
    background: #F0F2F6;
    border:none;
    padding: 0 5px 0 10px;
    width: 128px;
    margin-right: 16px;
    margin-top: 2px;
}
.e_sifting_box{
    padding-bottom: 16px;
    overflow: auto;
}
.index_nav{
    width: 240px;
    padding: 0px 0 0 0px;
    height: 410px;
    box-sizing: border-box;
    line-height: 44px;
    overflow: hidden;
}
.index_nav ul li a{
    background: url("../images/login/yj.png") no-repeat right center;
    display: block;
    font-size: 14px;
}
.index_nav ul li{
    padding: 0px 24px 0 24px;
    display: block;
}
.index_nav ul li:hover{
    background: #f6f6f8;
}
.index_banner{
    width: 732px;
    height: 410px;
    margin: 0 14px;
}
.index_right{
    width: 260px;
    height: 410px;
    padding: 16px 24px;
    line-height: 24px;
    box-sizing: border-box;
    overflow: hidden;
}
.i_top{
    font-weight: 700;
    font-size: 17px;
}
.i_r_form input{
    border: 1px solid #E6E7ED;
    line-height: 34px;
    width: 90%;
    font-size: 14px;
    padding: 0 5%;
    margin-top: 16px;
}
.i_r_form button{
    background: #0a58ca;
    color: #FFFFFF;
    line-height: 36px;
    text-align: center;
    border: none;
    width: 100%;
}
.i_r_form_a{
    line-height: 42px;
}
.i_r_list ul li a{
    background: url("../images/login/yx.png") no-repeat left center;
    padding-left: 10px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;;
}
.i_r_title{
    padding: 16px 0 8px 0;
}
.i_advert{
    width: 1260px;
    margin: 10px auto 0 auto;
}
.i_advert img{
    width: 1260px;
    height: 72px;
}
.i_enterprise_title{
    width: 1260px;
    margin: 16px auto 8px auto;
    height: 48px;
    line-height: 48px;
}
.i_enterprise_title span{
    font-weight: 700;
    font-size: 20px;
    background: url("../images/login/e_left.png") no-repeat left center;
    padding-left: 14px;
    margin-left: 5px;
}
.i_enterprise_title a{
    font-size: 14px;
    color: #666666;
    float: right;
    background: url("../images/login/sx.png") no-repeat left center;
    padding-left: 24px;
    margin-right: 3px;
}
.i_enterprise_list ul li{
    background: #FFFFFF;
    display: block;
    padding: 24px;
    width: 406px;
    height: 127px;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;

}
.i_enterprise_list ul{
    width: 1300px;
}
.i_enterprise_list ul li img{
    float: left;
    width: 82px;
    height: 82px;
    border-radius: 8px;
    margin-right: 20px;
}
.i_enterprise_h1{
    font-size: 18px;
    font-weight: 700;
    color: #0C0C0C;
}
.i_enterprise_h2{
    color: #9F9E9E;
    font-size: 13px;
    line-height: 32px;
}
.i_enterprise_h3{
    font-size: 15px;
    color: #0C0C0C;;
}
.i_enterprise_h3 a{
    color: #ff6339;
    padding-right: 4px;
}
.hot_job_title{
    text-align: center;
    padding: 32px 0 16px 0;
}
.hot_job_tab{
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 8px;
}
.hot_job_tab li{
    float: left;
    width: 157px;
    text-align: center;
}
.hot_job_tab li:hover{
    background: url("../images/login/under.png") no-repeat bottom center;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
}
.hot_job_list ul{
    width: 1300px;
}
.hot_job_list ul li{background: #fff;width: 406px;height: 140px;float: left;padding: 12px 24px;line-height: 34px;color: #999;box-sizing: border-box;margin: 10px 0px 10px 20px;}
.recomend_main_1{font-size: 20px;color: #333;padding-top: 5px;font-weight: bold;}
.recomend_main_1 strong{float: right;color: #FE7921;}
.recomend_main_2{border-top: 1px solid #F6F6F8;font-size: 14px;color: #666666;margin-top: 4px;padding-top: 8px;}
.hot_job_list ul li a{margin: 13px 13px 0 0;}
.i_space ul{width: 1300px;}
.i_space ul li{
    width: 406px;
    height: 72px;
    margin: 10px 0 0 20px;
    float: left;
}
.i_space ul li img{
    width: 406px;
    height: 72px;
}
.news_center_box_img img{
    width: 297px;
    height: 172px;
}
.news_center_box{
    padding: 24px 0px 24px 24px;
}
.news_center_box_ul li{
    line-height: 42px;
    float: left;
    width: 440px;
    padding-left: 32px;
    box-sizing: border-box;
    padding-right: 16px;
}
.news_center_t{
    border-bottom: 1px solid #f6f6f8;
    line-height: 56px;
    padding: 0 16px;
    font-size: 18px;
}
.news_center{
    margin-top: 16px;
}
.news_center_box_ul{
    width: 930px;
}
.news_center_box_ul li a{
    background: url("../images/login/yx.png") no-repeat left center;
    padding-left: 14px;
}
.news_center_box_ul li span{
    color: #999;
    float: right;
}
.list_nav{
    padding: 24px;
    box-sizing: border-box;
    margin-top: 16px;
}
.list_left{
    width: 954px;
    padding: 32px 32px 16px 32px;
    box-sizing: border-box;
}
.list_right{
    width: 290px;
}
.l-border-blue{
    border-bottom: 3px solid #157AEA;
    background: #FFFFFF;
}
.l-bj-blue:after{
    border-bottom: 1px solid #000;
}
.list_left{
    padding: 32px 32px 16px 32px;
}
.list_left_list ul li{
    border-bottom: 1px solid #F7F5F5;
    padding-bottom: 32px;
    margin-bottom: 32px;

}
.list_right_gg{
    width: 100%;
    height: auto;
}
.list_bj_box{
    padding: 0px 24px 24px 24px;
}
.list_right_gg img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.layui-nav{
    position: relative;
    color: #40415A;
    border-radius: 2px;
    font-size: 0;
    background: transparent;
}

.layui-nav .layui-nav-item {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}

.layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px 0 0;
    color: #40415A;
    -webkit-transition: all .3s;
}

.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
    color: #40415A;
}

.layui-nav-child{
    left: -7px;
    top: 36px;
    padding-left: 10px;
}

.show-content{
    width: 732px;
    height: 411px;
    margin: 0 14px;
    position: absolute;
    z-index: 100;
    left: 220px;
    top: 15px;
    display: none;
    background: #fff;
    transition: all 500ms linear;
    padding: 0px  10px;
    box-shadow: 3px 1px 8px rgba(0,0,0,.12);
}

.fist-item:hover .show-content-first{
    display: block;
}
.login_after dl dt img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.login_after dl dd p{
    font-size: 16px;
}
.login_after dl dd p span{
    color: #999999;
    font-size: 12px;
}
.login_after{padding-top: 24px;}
.login_after dl dd{
    padding-top: 6px;
}
.login_tj_left{
    width: 100px;
    float: left;
    text-align: center;
    font-size: 13px;
    color: #666;
    line-height: 24px;
    padding: 16px 0 16px 0;
}
.login_tj_left p strong{
    color: #0a58ca;
    font-size: 24px;
}
.e_yl_img img{
    width: 100%;
    height: auto;
}
.e_yl_tab{
    width: 1260px;
    margin: 0 auto;
    background: #f0f2f6;
}
.e_b_b_tab_1 ul li a{
    float: left;
    color: #333333;
    font-size: 16px;
    line-height: 50px;
    width: 140px;
    text-align: center;
}
.e_b_b_tab_1 ul li a:hover{
    background: url("../images/login/under.png") no-repeat bottom center;
}
.e_b_b_tab_on{
    background: url("../images/login/under.png") no-repeat bottom center;
    font-weight: bold;
}
.e_b_b_tab_1{
    height: 50px;
}
.e_b_brief ul li{
    line-height: 56px;
    background: url("../images/login/yx.png") no-repeat left center;
    padding-left: 10px;
}
.e_b_brief ul li span{
    float: right;
    color: #999999;
}
.e_b_brief ul{
    padding: 8px;
}
.e_b_brief_xq{
    padding: 8px 4px;
}
.e_b_brief_xq_bt{
    font-size: 24px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 40px;
}
.e_enclosure{
    border: 1px solid #0a58ca;
    border-radius: 4px;
    padding: 2px 16px;
    background: #f5f8ff;
    text-align: center;
    color: #0a58ca;
    margin-top: 24px;
}
.gs_xx_img{
    float:left;
}
.brochure dl{background: #FFFFFF;padding: 16px 24px 24px 24px;overflow: hidden;margin-bottom: 12px;}
.brochure dl dt{width: 1000px;}
.brochure dl dd{width: 100px;border: 1px solid #dedede;border-radius: 4px;text-align: center;padding: 16px 0;}
.brochure_shit{font-weight: bold;font-size: 24px;}
.brochure_title a{font-size: 18px;line-height: 40px;}
.brochure_summary{font-size: 14px;color: #666666;}
.brochure_more a{background: #0a58ca;border-radius: 2px;color: #FFFFFF;padding: 3px 10px;margin-top: 4px;}
.brochure_more{margin-top: 14px;}
.enrolling{background: #FFFFFF;padding: 24px;}
.enrolling ul li{height: 42px;line-height: 42px;}
.enrolling ul li span{background:url("../images/login/yx.png") no-repeat left center;padding-left: 12px;font-size: 15px; }
.enrolling ul li a{border: 1px solid #dedede;border-radius: 4px;padding: 2px 10px;font-size: 14px!important;float: right;line-height:24px;margin-top: 5px;}