body {
    margin: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
}

.login-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
}

.login-top {
    width: 100%;
    position: relative;
    top: 23px;
}

.login-top .login-left {
    width: 55%;
    float: left;
    display: flex;
    justify-content: center;
}

.login-left .login-icon {
    width: 49px;
    height: 49px;
    background: url('../images/login/login_icon.png') no-repeat center;
}

.login-left .login-title {
    width: 140px;
    height: 49px;
    font-size: 28px;
    font-family: FontName;
    font-weight: 400;
    color: #333333;
    line-height: 49px;
    margin-left: 15px;
}

.login-left .login-title-sub {
    width: 72px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 49px;
    margin-left: 25px;
    padding-top: 5px;
}

.login-top .login-right {
    width: 45%;
    float: right;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.login-right .login-icon-iphone {
    height: 22px;
    width: 22px;
    background: url('../images/login/login_iphone.png') no-repeat center;
}

.login-right .login-iphone {
    width: 232px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #45484B;
    margin-left: 10px;
}

.login-content {
    width: 100%;
    position: relative;
    top: 10px;
    padding-top: 190px;
}

.login-content .login-content-left {
    width: 55%;
    float: left;
    position: relative;
}

.login-content-left .login-bg {
    width: 580px;
    height: 463px;
    background: url('../images/login/login_bg.png') no-repeat center;
    position: absolute;
    right: 10px;
}

.login-content .login-content-right {
    width: 45%;
    float: right;
    display: flex;
    justify-content: center;
}

.login-content-right .login-form {
    width: 486px;
    height: 542px;
    padding: 10px 20px;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 1px 9px #F2F2F2,
        1px 1px 9px #F2F2F2;
    border-radius: 5px;
}

.login-form .layui-tab {
    text-align: center !important;
}

.login-form .layui-tab-title {
    border-bottom-width: 0px;
}

.login-form .layui-tab-brief>.layui-tab-title .layui-this {
    color: #393D39;
    margin-right: 40px;
    font-weight: 600;
    font-size: 18px;
}

.login-form .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 3px solid #198AFA;
}

.login-form .layui-tab-title li {
    margin-right: 40px;
    color: #999999;
    font-size: 17px;
}

.login-form .layui-tab-content {
    height: 300px;
}

.login-form .layui-tab-item {
    height: 100%;
}

.login-form .layui-tab-content {
    padding: 40px 50px;
}



.layui-form-item {
    margin-bottom: 40px;
    position: relative;
}

.get-code {
    position: absolute;
    color: #095dd3;
    right: 40px;
    top: 6px;
    line-height: 26px;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    border-left: 1px solid #095dd3;
    padding-left: 30px;
}

.layui-btn-normal {
    background-color: #2B66B8;
    letter-spacing: 2px;
}

.c_step{
    width:959px;
    height: 45px;
    line-height: 45px;
    background: url("../images/login/b1.png");
    margin: 24px auto 16px auto;
}
.c_step span{
    width: 239px;
    text-align: center;
    float: left;
}
.c_step_white{
    color: #FFFFFF;;
}
.c_step_2{
    background: url("../images/login/b2.png");
}
.c_step_3{
    background: url("../images/login/b3.png");
}
.c_step_4{
    background: url("../images/login/b4.png");
}
.c_write{
    width: 959px;
    padding: 24px 10px;
    margin: 16px auto 0 auto;
    overflow: auto;
}

.c_write_title{
    font-size: 20px;
    line-height: 64px;
    padding-left: 66px;
    padding-bottom: 12px;
}
.c_write_form{
    width: 436px;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 24px;
}
.c_write_form_p{
    margin-top: 8px;
}
.c_write_form_1{
    width: 876px;
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 24px;
}
.c_write_btn{
    text-align: center;
}
.c_write_icon{
    text-align: center;
    min-height: 320px;
    padding: 24px 0;
}
.c_write_success{
    font-size: 24px;
    line-height: 55px;
}
.c_write_success_a{
    color: #0a53be;
}
.candidates_members{
    width: 1200px;margin: 24px auto;
    overflow: auto;
}
.candidates_members_left{
    width: 232px;
    min-height: 620px;
}
.candidates_members_right{
    width: 955px;
    overflow: auto;
    min-height: 700px;
}
.c_m_tx img{
    width: 98px;
    height: 98px;
    border-radius: 8px;
}
.c_m_tx{
    text-align: center;
    padding: 37px 0 0px 0;
    line-height: 64px;
    font-size: 20px;
    border-bottom: 1px solid #F3F4F6;
    margin-bottom: 4px;
}

.c_m_nav li a{
    line-height: 74px;
    height: 74px;
    display: block;
    text-align: center;
    color: #727272;
}
.c_m_nav li a:hover{
    background: url(../images/login/st.png) no-repeat left center #f9fafb;
    font-weight: bold;
    color: #333!important;
}
.c_m_nav_on{
    background: url(../images/login/st.png) no-repeat left center #f9fafb;
    font-weight: bold;
    color: #333!important;    
}
.c_m_r_title{
    border-bottom: 1px solid #F3F4F6;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    overflow: auto;
}
.c_m_r_title ul li a{
    height: 60px;
    line-height: 60px;
    color: #828181;
    float: left;
    margin: 0 24px;
}
.c_m_r_title ul li a:hover{
    font-weight: bold;
    color: #141933;
    border-bottom: 4px solid #0667D3
}
.c_m_r_list{
    padding: 16px 24px 24px 24px;
}
.c_position{
    color: #141933;
    font-size: 18px;
}
.c_time{
    color: #7A7F99;
    font-size: 12px;
    background: #F0F2F6;
    border-radius: 10px;
    padding: 4px 12px;
    margin-left: 8px;
}
.c_time_blue{
    color: #3298EF;
    font-size: 12px;
    background: #E9F0FF;
    border-radius: 10px;
    padding: 3px 12px;
    margin-left: 8px;
}
.c_salary{
    font-size: 18px;
    color: #FF5959;
    padding: 6px 0;
}
.c_company{
    font-size: 14px;
    color: #7A7F99;
}
.c_blue{
    color: #3298EF;
    font-size: 14px;
    padding-top: 8px;
}
.c_operating_time{
    font-size: 14px;
    color: #7a7f99;
    padding-top: 38px;
}
.c_m_r_list ul li{
    border: 1px solid #F0F2F6;
    overflow: auto;
    padding: 20px 24px;
    margin-bottom: 16px;
}
.c_masking{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 115%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}
.c_invite{
    width: 560px;
    height: 440px;
    background: #FFFFFF;
    z-index: 2000;
    position: absolute;
    left: 33%;
    top: 10%;

}
.c_invite_top{
    border-bottom: 1px solid #dedede;
    padding: 32px;
    overflow: auto;
}
.c_invite_main{
    padding: 32px 40px 0 40px;
    font-size: 14px;
    line-height: 32px;
    color: #7A7F99;
}
.c_invite_job{
    font-size: 20px;
    font-weight: normal;
}
.c_invite_company{
    color: #7A7F99;
    font-size: 14px;
    font-weight: normal;
}
.c_invite_xz{
    font-size: 22px;
    color: #fd391f;
}
.c_invite_top dl{
    padding: 24px 0 24px 0;
    line-height: 32px;
}
.c_invite_top dl dd{
    padding-top: 16px;
}
.c_invite_btn{
    padding: 16px 40px 0 40px;
    text-align: center;
}
.c_btn_blue{
    background: #0667D3;
    padding: 5px 24px;
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #0667D3;
    font-size: 14px;
    margin: 8px 4px 0 4px;
}
.c_btn_blue_line{
    background: #FFFFFF;
    padding: 5px 24px;
    color: #0667D3;
    border-radius: 20px;
    border: 1px solid #0667D3;
    font-size: 14px;
    margin: 8px 4px 0 4px;
}
.c_passport dl{
    border: 1px solid #F0F2F6;
    margin: 24px 32px 16px 32px;
    height: 33px;
    line-height: 32;
    padding: 24px;
    box-sizing: content-box;
}
.c_passport dl dt{float: left}
.c_passport dl dd{float: right}
.c_passport dl dd a{color: #157AEA;}
.c_passport dl dt img{float: left;padding-right: 10px;}
.c_passport dl dt span{float: left;line-height: 30px;font-weight: normal;}
.c_passport dl dd{float: right;height: 30px;line-height: 30px;}
.c_passport_t{
    border-bottom: 1px solid #ecedf0;
    padding: 16px 24px;
    font-size: 18px;
}
.c_passport_title{
    font-weight: bold;
    font-size: 18px;
    padding: 32px 0px;
    text-align: center;
}
.c_form{
    padding: 24px 56px;
}
.c_bot{
    margin-bottom: 24px;
}
.mg_1{margin-top: 10px;}
.c_uzm{
    position: absolute;
    left: 280px;
    top: 40px;
    color: #0667D3;
}
.c_two_box{
    padding: 24px 72px;
}
.t_jz{
    text-align: center;
    margin-bottom: 24px;
}
.recruiter{
    width: 1300px;
    margin: 24px auto;
}
.recruiter_left{
    width: 186px;
    min-height: 850px;
}
.recruiter_right{
    width: 1100px;
    min-height: 850px;
}
.recruiter_l_shot img{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.recruiter_left{
    text-align: center;
}
.recruiter_l_shot{
    padding: 28px 0 16px 0;
    position: relative;
}
.recruiter_l_shot span{
    position: absolute;
    width: 85px;
    height: 24px;
    line-height: 24px;
    background: linear-gradient(90deg, #0FBC68, #4AE6B6);
    border-radius: 12px;
    left: 50px;
    top:104px;
    color: #FFFFFF;
    font-size: 12px;
}
.recruiter_l_shot p strong{
    font-weight: bold;
    font-size: 20px;
    color: #0C0C0C;
}
.recruiter_nav li a{
    color: #3c3a3a;
    line-height: 36px;
    padding:10px 0 10px 0;
    display: block;
}
.recruiter_nav li a:hover{
    background: #eef6ff;
    color: #0C0C0C;
    font-weight: bold;
}
.recruiter_nav_on{
    background: #eef6ff;
    color: #0C0C0C;
    font-weight: bold;
}
.recruiter_search{
    background: #FFFFFF;
    height: 56px;line-height: 56px;
}
.recruiter_search input{
    width: 1010px;
    padding: 0 16px 0 48px;
    box-sizing: border-box;
    border: none;
    float: left;
    background: url("../images/login/search.jpg") no-repeat left center;
}
.recruiter_search button{
    background: #0667D3 ;
    color: #FFFFFF;
    width: 90px;
    float: right;
    border: none;
    height: 56px;
}
.job_manage_t img{
    float: left;
    padding-right: 4px;
    padding-top: 5px;
}
.job_manage_t{
    line-height: 40px;
}
.job_manage_t span{
    font-size: 18px;
    font-weight: 700;
}
.job_manage_t a{
    background: url(../images/login/fb.png) no-repeat left center;
    padding-left: 20px;
    color: #3176ff;
    float: right;
}
.job_manage{
    width: 544px;
    margin-top: 12px;
    height: 199px;
    padding: 20px 30px;
    box-sizing: border-box;
}
.job_manage_count{
    float: left;
    width: 165px;
    color: #8a8d93;
    line-height: 44px;
    padding-top: 24px;
    padding-left: 5px;
}
.job_manage_count2{
    width: 190px;
}
.job_manage_count3{
    width: 120px;
}
.job_manage_count p strong{
    font-size: 26px;
    color: #2c2d2e;
    font-weight: bold;
    font-family: "arial";
}
.job_interview{
    margin-top: 12px;
    width: 1100px;
    padding: 20px 30px;
}
.job_interview_list{
    background: url(../images/login/g7.png) repeat-y left;
    line-height: 36px;
    margin-top: 24px;
}
.job_interview_list ul li{
    padding-bottom: 24px;
}
.job_i_l_time{
    width: 260px;
    display: inline-block;
    background: url(../images/login/g6.png) no-repeat left center;
    padding-left: 24px;
}
.job_i_l_tx{
    width: 200px;
    display: inline-block
}
.job_i_l_zw{
    width: 200px;
    display: inline-block
}
.job_i_l_btn{
    border: 1px solid #d1d2d4;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border-radius: 4px;
    padding: 0 16px;
    font-size: 14px;
    float: right;
}
.job_i_l_tx img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
}
.job_interview_none{
    text-align: center;
    min-height: 400px;
}
.recruiter_space img{
    width: 100%;
    margin-top: 10px;
    height: 90px;
}
.sub_staff_list ul li{
    background: #FFFFFF;
    padding: 20px 32px 16px 32px;
    overflow-y: auto;
    color: #9699a8;
    position: relative;
    margin-bottom: 16px;
}
.sub_staff_jb{
    position: absolute;
    left: 0px;
    top: 0px;
}
.sub_staff_list_1{
    width: 480px;
}
.sub_staff_list_5{
    width: 520px;
}
.sub_staff_list_2{
    width: 300px;
}
.sub_staff_list_1 img{
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
}
.sub_staff_list_1 h3{
    font-size: 16px;
    color: #0C0C0C;
    line-height: 38px;
}
.sub_staff_list_1 p span{
    padding: 0 8px;
}
.sub_company_js_t{
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #0a53be;
    padding: 0 16px;
    font-weight: 700;
    font-size: 16px;
}
.sub_company_js_box{
    padding: 32px 40px;
    min-height: 740px;
}
.sub_staff_list_2_p{padding-bottom: 11px;padding-top: 6px;}
.sub_staff_list_3{
    padding-top: 16px;
}
.ms_blue_btn{
    background: #EAF4FF;
    color: #1676E1;
    line-height: 32px;
    padding: 0 24px;
    display: inline-block;
    border-radius: 4px;
}
.ms_blue_btn_s{
    background: #1676E1;
    color: #ffffff;
    line-height: 32px;
    padding: 0 24px;
    display: inline-block;
    border-radius: 4px;
}
.ms_blue_btn_s:hover{
    color: #FFFFFF;
}
.sub_staff_list_3{
    width: 200px;
    text-align: right;
    padding-right: 4px;
}
.sub_staff_list_4{
    width: 280px;
    text-align: right;
    padding-right: 4px;
    padding-top: 16px;
}
.sub_staff_line{
    border-top:1px dashed #E2E4E9;
    padding-top: 12px;
    margin-top: 16px;
}
.sub_staff_list_select{
    width: 40px;
    padding-top: 32px;
}
.sub_staff_total{
    padding: 8px 32px;
}
.recruiter_right_p{
    position: relative;
}
.sub_talent_search{
    position: absolute;
    right: 16px;
    top: 10px;
    z-index: 10000;
}
.sub_talent_search select{
    border: 1px solid #DFE2E7;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    width: 140px;
    padding-left: 8px;
    padding-right: 4px;
}
.sub_talent_search input{
    background: url("../images/login/search.jpg") no-repeat left center;
    background-size: 32px auto;
    width: 150px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #DFE2E7;
    padding-left: 40px;
    border-radius: 4px;
}
.sub_recruiters_firm_box{
    padding: 32px 48px;
    box-sizing: border-box;
}
.sub_recruiters_list_bt{padding-left: 10px}
.sub_recruiters_list{
    border-bottom: 1px solid #f0f2f6;
    padding: 24px 0;
    overflow: auto;
    line-height: 32px;
}
.sub_recruiters_list_editor{
    padding: 16px 8px 5px 10px;
}
.sub_recruiters_firm{
    line-height: 32px;
    padding: 16px 0 24px 0;
}

.sub_post_editor a img{
    float: left;
    padding: 6px 4px 0 0;
}
.sub_post_editor a span{
    float: left;
    padding: 3px 4px 0 0;
}
.sub_post_editor a{
    padding-left: 24px;
    float: left;
}
.sub_post_time{
    background: url("../images/login/zhon.png") no-repeat left center;
    padding-left: 24px;
    margin-left: 43px;
}
.sub_post_time_audit{
    background: url("../images/login/zhon.png") no-repeat left center;
    padding-left: 24px;
    margin-left:2px;
}
.sub_staff_list_select1{
    width: 40px;
    padding-top: 24px;
}
.sub_post_release{
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 1000;
    padding-left: 32px;
    padding-right: 14px;
    color: #FFFFFF;
    background: url("../images/login/editor.png") no-repeat left center #0a53be;
    margin-top: 3px;
}
.sub_post_release:hover{
    color: #FFFFFF;
}
.sub_staff_list_add ul li{
   padding: 20px 32px 28px 32px;
}
.sub_fy_box{
    text-align: right;
    padding: 4px 16px 0px 16px;
    margin-bottom: 16px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background: #0a53be;
}
.layui-laypage a:hover {
    color: #0a53be;
}
/*简历首页*/
.c_head_loginsign{ padding-top:8px}
.c_head_loginsign li{ float:left; margin-right:22px;}
.c_head_loginsign li a{ color:#fff;}
.c_head_login{ padding:4px 8px; background:#2b66b8; border-radius:4px;}
.c_head_loginsign li a:hover{ text-decoration:underline;}

.resume_adv01{ width:1200px; height:80px; margin:15px auto;}
.resume_main{ width:1200px; margin:0 auto;}
.resume_main_left{ width:910px;}
.resume_main_right{ width:270px; height:500px; float:right;}

.resume_main_left_intro{ width:910px; background:#fff; padding:30px; margin-bottom:15px;box-sizing: border-box;}
.resume_main_left_intro_pic{ width:105px; height:105px; float:left;}
.resume_main_left_intro_con{ padding-left:20px; float:left;}
.resume_main_left_intro_name{ font-size:24px; font-weight:bold; padding:0; margin-bottom:10px}
.resume_main_left_intro_con ul{float:left; padding:0; margin-bottom:10px}
.resume_main_left_intro_con ul li{ float:left; font-size:14px;}
.resume_main_left_intro_con ul li i{ color:#e0e0e0; padding:0 8px; font-style:normal}
.resume_main_left_intro_tel{width:100%; float:left; background:url(../images/resume/tb01.png) left center no-repeat; padding-left:17px; margin:0; font-size:16px; font-weight:bold;}

.resume_main_left_bom{ background:#fff;width:910px; padding:30px 0;color: #6a6e74;}
.resume_main_left_bom_box{ width:910px; position:relative; padding-top:60px; margin-bottom:30px; border-bottom:1px dashed #dddee5}
.resume_main_left_bom_box_tit{ position:absolute; left:30px; top:0; width:93%;}
.resume_main_left_bom_box_tit p{ float:left; font-size:20px; font-weight:bold;color: #0C0C0C;font-weight: 700;}
.resume_main_left_bom_box_tit span{ font-size:12px; color:#fff; background:#fa5f00; padding:2px 6px; border-radius:3px; margin:4px 0 0 8px;float: left;}
.resume_main_left_bom_box_tit a{ float:right; border:1px solid #328fc8; padding:2px 10px; color:#328fc8; border-radius:15px;font-size: 14px;}
.resume_main_left_bom_box_tit a:hover{ color:#fff; background:#328fc8}
.resume_main_left_bom_box_con{ width:910px;}
.resume_main_left_bom_qzyx{ padding-left:30px;}
.resume_main_left_bom_qzyx li{ float:left; width:50%; line-height:30px;}
.resume_main_left_bom_qzyx li p{ width:30%; float:left;margin-bottom: 1rem;}
.resume_main_left_bom_qzyx li span{ width:60%; float:left; white-space:nowrap; overflow:hidden;}
.resume_main_left_bom_box_con02{ width:910px; background:#f9f9fb;}
.resume_main_left_bom_jyjl{ width:100%; padding-top:30px;}
.resume_main_left_bom_jyjl li{ line-height:40px; margin-bottom:12px;}
.resume_main_left_bom_jyjl li span{ float:left; width:100px; padding-right:15px; text-align:right;}
.resume_main_left_bom_jyjl li span i{ color:#FF0000; padding-right:6px;}
.resume_main_left_bom_jyjl li p{ float:left}
#resume_main_left_bom_jyjl_txt{ width:304px; height:40px; border:1px solid #e3e7ed;}
#resume_main_left_bom_jyjl_txt02{ width:304px; height:40px; border:1px solid #e3e7ed;}
#resume_main_left_bom_jyjl_txt03{ width:700px; height:190px; border:1px solid #e3e7ed;}
.resume_main_left_bom_btn{ margin:20px 0 20px 299px;}
.resume_main_left_bom_btn button{ width:140px; height:40px; margin-right:15px;}
.resume_btn_cancel{ border:1px solid #dddee5;}
.resume_btn_cancel:hover{ color:#666}
.resume_btn_save{ background:#3367dd; border:none; color:#fff;}
.resume_btn_save:hover{ color:#d3e0ff}
.resume_main_left_bom_listcon_tit03 li{padding-bottom: 12px;overflow: auto;line-height: 24px;}

.resume_main_left_bom_list{ width:100%; background:#fff; padding-bottom:30px;font-size:14px;}
.resume_main_left_bom_listcon{ background: url(../images/resume/tb02.png) 30px 10px no-repeat; width:100%; padding:0 30px 0px 60px; float:left;}
.resume_main_left_bom_listcon_bom{ width:50%; height:11px; float:left; background:url(../images/resume/tb03.png) 3px no-repeat; margin-left:30px;}
.resume_main_left_bom_listcon_tit{ width:820px; color:#666; line-height:40px;}
.resume_main_left_bom_listcon_tit02{ width:820px; line-height:40px; margin:0; overflow:hidden; white-space:nowrap;color: #0C0C0C;font-weight: 800;font-family: "微软雅黑";font-size: 15px; }
.resume_main_left_bom_listcon_tit02_txt{ font-weight:normal}
.resume_main_left_bom_listcon_tit03{ width:100%; float:left; padding:0; margin:0;}
.resume_main_left_bom_listcon_tit03 span{ float:left; width:70px;}
.resume_main_left_bom_listcon_tit03 p{ float:left; width:750px;}

.resume_main_left_bom_box_con_gznl{ width:100%; padding-left:30px;font-size:14px; color:#666;overflow: auto;padding-bottom: 24px;line-height: 24px;}
.resume_main_left_bom_box_con_gznl span{ width:70px; float:left;}
.resume_main_left_bom_box_con_gznl p{ float:left; width:750px; line-height:26px;}

.resume_main_left_bom_box_con_yynl{ width:100%; padding:0 0 20px 30px;font-size:14px; color:#666;}
.resume_main_left_bom_box_con_yynl_tit{ line-height:30px;}
.resume_main_left_bom_box_con_yynl_con{ line-height:30px;}
.resume_main_left_bom_box_con_yynl_con i{ font-style:normal; color:#222;}

.resume_main_left_bom_box_con_yynl strong{ color:#333;}

.resume_main_left_bom_box_con_append{ width:100%; padding-left:30px;font-size:14px; color:#666; margin-bottom:30px; float:left}
.resume_main_left_bom_box_con_append_pic li{ width:100px; float:left; margin-right:20px;}
.resume_main_left_bom_box_con_append_pic li p{ width:97px; height:117px; float:left;}
.resume_main_left_bom_box_con_append_pic li span{ width:100px; text-align:center; float:left;}

.resume_main_right_box01{ width:270px; background:#fff; padding:25px 0; float:left; padding-left:11px; margin:0;}
.resume_main_right_box01 li{ float:left; width:44px; margin:0 9px; text-align:center;}

.resume_main_right_box02{ width:270px; float:left; padding:0 15px; background:#fff; margin:15px 0;box-sizing: border-box;}
.resume_main_right_box02 li{ width:240px; float:left; height:50px; line-height:50px; border-bottom:1px solid #f1f1f1}
.resume_main_right_box02 li p{ width:200px; overflow:hidden; float:left;}
.resume_main_right_box02 li span{ float:right;}

.resume_main_right_box03{ width:270px; background:#fff; float:left;}
.resume_main_right_box03_tit{ width:270px; float:left; padding:15px;box-sizing: border-box;}
.resume_main_right_box03_tit strong{ padding-right:10px;font-family: "微软雅黑";font-size: 18px;}
.resume_main_right_box03_rate{ width:270px; padding:15px; float:left;box-sizing: border-box;}
.resume_main_right_box03_list{ float:left; padding:0 0 30px 0; margin:0;}
.resume_main_right_box03_list li{ width:270px; padding:5px 15px; float:left; line-height:40px; height:40px;box-sizing: border-box;}
.resume_main_right_box03_list li:hover{color:#3c50b7; font-weight:bold; border-left:3px solid #3c50b7}
.resume_main_right_box03_list li p{ float:left;}
.resume_main_right_box03_list li span{ float:right;}
.resume_main_right_box03_list li a{ float:right}
.resume_editor{background: #f7f9fb;padding: 24px 32px;}
.layui-form-item{margin-bottom: 24px;}
.resume_main_right_progress{
    padding: 0 16px;
}
.p_invite_editor{
    width: 800px;
    background: #FFFFFF;
    min-height: 600px;
}
.p_invite_editor_t{
    background: url("../images/login/ms_top.png");
    height: 90px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    padding-top: 14px;
}
.p_invite_editor_box{padding: 24px 56px;}
.sub_job_release{
    padding: 16px 56px;
    box-sizing: border-box;
}
.sub_job_release_title{
    font-size: 18px;
}
.sub_job_release_title{
    border-bottom: 1px solid #E9E7E7;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 24px;
}
.sub_job_release_title span{
    line-height: 24px;
    padding-left: 12px;
    border-left: 3px solid #0a53be;
    font-weight: bold;
    font-family: 微软雅黑;
}
.prompt_red{
    color: #ff3535;
    padding-right: 5px;
}
.sub_notice_list_box img{
    float: left;
    margin-right: 12px;
    padding-top: 6px;
}
.sub_notice_list_box p span{padding-left: 16px;}
.sub_notice_list_box{
    padding-top: 16px;
    line-height: 28px;
}
.sub_notice_list ul li{
    border-bottom: 1px dashed #e6e9ec;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.sub_notice_list_bt{
    font-weight: bold;
    font-size: 24px;
    color: #0C0C0C;
    text-align: center;
    padding: 8px 0;
}
.sub_notice_list_time{
    background: #f3f6fa;
    line-height: 36px;
    height: 36px;
    text-align: center;
    margin: 16px 0;
}
.sub_notice_list_time span{
    padding: 0 12px;
    color: #84868f;
}
.sub_notice_list_details{
    font-size: 16px;
    line-height: 32px;
    padding-top: 4px;
    min-height: 400px;
}
.s_release_success_icon{
    padding-right: 16px;
    min-height: 130px;
}
.s_release_success_r span{
    padding-left: 8px;
}
.s_recommend_job ul li{
    padding: 20px 24px;
    background: #FFFFFF;
    overflow: auto;
    line-height: 32px;
    color: #858899;
    margin-bottom: 16px;
}
.s_recommend_job_1 img{
    float: left;
    width: 65px;
    height: 65px;
    margin-right: 16px;
    border-radius: 50%;
}
.s_recommend_job_1{
    width: 420px;
}
.s_recommend_job_2{
    width: 360px;
}
.s_recommend_job_3{
    width: 190px;
}
.s_recommend_job_4{
    width: 215px;
    padding-top: 12px;
    text-align: right;
}
.sub_job_release_box{
    width: 1260px;
    margin: 16px auto;
    box-sizing: border-box;
}
.outside_box{
    width: 1260px;
    margin:24px auto;
}
.time_updata{
    font-size: 13px;
    color: #999999;
    padding-left: 16px;
}
.condition_span span{
    font-size: 14px;
    color: #666666;
    padding-left: 10px;
}
.company_infor{
    width: 360px;
    text-align: right;
    font-size: 16px;
    line-height: 28px;
}
.company_infor img{
    float: right;
    margin-left: 16px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
}
.company_infor p span{
    padding-left: 8px;
    color: #666666;
    font-size: 14px;
}
.operate_button{
    border-top: 1px solid #F0F2F6;
    padding-top: 12px;
    text-align: right;
    margin-top: 6px;
}
.c_m_r_listbox{
    padding: 16px 24px 24px 24px;
}
.c_m_r_listbox ul li{
    border: 1px solid #F0F2F6;
    overflow: auto;
    padding: 20px 24px 12px 24px;
    margin-bottom: 16px;
}
.operate_button_1{
    border: 1px solid #dedede;
    width: 78px;
    height: 30px;
    border-radius: 2px;
    background: #FFFFFF;
    font-size: 14px;
    color: #969ca8;
}
.operate_button_2{
    border: 1px solid #396fde;
    width: 78px;
    height: 30px;
    border-radius: 2px;
    background: #396fde;
    font-size: 14px;
    color: #FFFFFF;
}
.condition_span_box span{
    font-size: 14px;
    color: #666666;
    padding-right: 10px;
    line-height: 40px;
}
.gs_xx_img img{
    float: left;
    margin-right: 16px;
}
.gs_xx_img{
    width: 560px;
}
.positions_number{
    font-size: 14px;
    line-height: 28px;
    text-align: right;
    color: #999999;
}
.f_c3{
    color: #333333;
}
.f_c3 a{
    font-weight: bold;
    color: #dc3545;
    font-size: 16px;
    padding: 0 2px;
}