.layui-tab{
    margin: 0;
}
.s_layui-tab-title{
    overflow-y: hidden;
    line-height: 56px;
    height: 56px;
    padding: 0 8px;
}
.layui-this{
    line-height: 56px;
}
.layui-tab-title li{
    line-height: 26px;
    color: #6b6e7a;
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: #0C0C0C;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 4px solid #0a58ca;}
.layui-tab-title .layui-this:after{
    width: 40%;
    left: 30%;
}
.layui-form-item{
    margin-bottom: 24px;
}
.layui-btn-normal{
    font-size: 14px;
}